[*.{cs, csharp}]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = true
